*{
    font-family: 'Mali', cursive;
    color:black;
}

h1{
    text-align: center;
    color:aquamarine;
}
#user-input>*{
    justify-content: center;

}
#user-input, #results-box{
    max-width: 600px;
    margin: auto;
}
h2 {
    text-align: center;
}
.panel-block{
    justify-content: center;
}









.drinkOptionLink{
    text-align: center;
}



@media(max-width: 1050px){
    main{
        display:grid;
        grid-template-columns: 1fr;
        padding:2rem;

    }
}
@media(max-width: 470px){
    main{
        display:grid;
        grid-template-columns: 1fr;
        padding: 0;

    }
    #randomCocktailBtn{
        margin: 2rem;;
    }
}

/* #displayBody {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 600px;
    justify-content: center;
    max-height: 80vh; 
    background-color: #3c474b;
    border-radius: 1rem;
    overflow: auto;
    align-items: center;
   
    
}
#displayBody >*{
    background-color: #3c474b;
    text-align: center;
    color:white;
    padding: 0 1rem;
}
#displayBody >*>*{
    background-color: #3c474b;
    color: white;

}


img{
    max-width:200px;

}

li {
    list-style-type: none;
    font-size: 1rem;
    
}
ul{
    font-size: 2rem;
    
}

.searchContainer{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    

}

#randomCocktailBtn{
    margin-top: 2rem;    
}

label{
    font-size:1.5rem;
    font-weight:500;
}

input{
    background-color: white;
}

#drinkDiv:hover{
    background-color: white;
    color:  #3c474b;
    cursor: pointer;
}

#drinkDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayBody:empty { 
    display: none 
} */