*{
    font-family: 'Mali', cursive;
    color:black;
}

h1{
    text-align: center;
    color: white;

}
#user-input>*{
    justify-content: center;
}
#user-input, .box{
    max-width: 600px;
    margin: auto;
}
h2, #direction-container {
    text-align: center;
}
.panel-block{
    justify-content: center;
}
.box{
    max-height: 500px;
    overflow-y: auto;
}

li{
    list-style-type: none;
}
.card-image{
    max-height:400px;
    width:auto;
   
}
img {
    max-width: 100%;
    max-height: 100%;
    border-radius:1rem;

}  
.drinkOptionLink{
    text-align: center;
}

#results-box{
    display: none;
}

#body{
    height: 100vh;
    background: linear-gradient(to top,#183446,#9a969b);
}
#drink-image{
    border: 2px solid rgba(0,0,0,0.5);
}
.panel *:hover{
    background: linear-gradient(to top,#183446,#9a969b)!important;
    color: white;
}
